p {
    text-align: center;
    margin: 2px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button {
  display: inline-block;
  padding: 50px 50px;
  margin: 0 0 5px 0;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #c72816;
  border: none;
  border-radius: 100px;
  box-shadow: 0 9px #999;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sound-board {
    display: flex;       /* Enables flexbox */
    flex-wrap: wrap;     /* Allows items to move to the next row */
    gap: 20px;           /* Adds space between the items */
    justify-content: center; /* Centers the grid on the page */
    padding: 20px;
    margin: 0 20%;
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack button on top of text */
    align-items: center;    /* Center them horizontally relative to each other */
    width: 100px;           /* Give them a consistent width */
}